name: Deploy ERP Frontend To VPS

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: linux/amd64
          tags: akhileshrawat7/rolaface-erp-frontend:latest
          build-args: |
            VITE_API_BASE_URL=https://api.erp.rolaface.com/api
            VITE_ZRA_CODES_BASE_URL=https://zra-codes.izyanehub.com/api
            VITE_API_AUTH_TOKEN=token 1e329714a6374c6:6fa0cf63244b1c4
            VITE_COMPANY_ID=COMP-00003

      - name: Copy deploy script to VPS
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          source: ".github/workflows/deploy-prod.sh"
          target: "/root/deploy-scripts/erp-frontend"
          strip_components: 2

      - name: Deploy on VPS
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            SCRIPT_PATH="/root/deploy-scripts/erp-frontend/deploy-prod.sh"
            chmod +x $SCRIPT_PATH
            $SCRIPT_PATH
